@charset "utf-8";

/* 25-12.22 */
/* base */

body, h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
body
{
    font-family: var(--ff);
}
details
{
    cursor: pointer;
}
summary
{
    outline: none;
}
a
{
    text-decoration: none;
    color: var(--black);
}
:root
{
    --black : #111;
    --ff: 'roboto','Noto Sans KR','Apple SD Gothic Neo','Malgun gothic','Helvetica','Dotum',sans-serif;
}
