@charset "utf-8";

/* 25-12.22 */
/* base */

ul, li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
body
{
    margin: 0;
    padding: 0;
}
details
{
    cursor: pointer;
}
summary
{
    outline: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
section
{
    box-sizing: border-box;
}
section > div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
:root
{
    --black : #111;
    --font-family: 'Noto Sans KR','Apple SD Gothic Neo','Malgun gothic','Helvetica','Dotum',sans-serif;
}